<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 2: Create markdown cell with title of the notebook

Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

Write an introductory sentence about the notebook such as the follows:

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
- Popular languages for Data Science
- Common libraries used by Data Scientists
- Open source development environments
- Adding and formatting text for Jupyter Notebook
- Arithmetic operations examples in Jupyter Notebook

## Author
Besedin Pavel

Exercise 4 - Create a markdown cell to list data science languages

Start the cell with an overview line such as:

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. C++
6. JavaScript
7. Scala
8. Julia

Exercise 5 - Create a markdown cell to list data science libraries

Add an overview line to the cell like:

Some of commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. SciPy
5. TensorFlow
6. PyTorch
7. Keras
8. Scikit-learn
9. NLTK
10. ggplot2
11. dplyr
12. plotly
13. Weka
14. Java-ml
15. Apache MLlib
16. Shark
17. TensorFLow.js

Exercise 5 - Create a markdown cell to list data science libraries

| Data Science Tools |
| ------------------ |
| JupyterNotebooks |
| JupyterLab |
| Anaconda |
| Visual Studio |
| Google Colab |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [4]:
# This a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [5]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives